{% extends "base.html" %}

{% block content %}

<h2>Sources</h2>
  <a href="{% url 'sources:new' %}">Add new source</a><br />
  <a href="{% url 'sources:scrape' %}">Scrape all sources</a>
<ul>
  {% for source in object_list %}
  <li>
    <a href="{{ source.url }}">{{source.url}} <small>Links offsite</small></a><br />
    <a href="{% url 'sources:detail' pk=source.pk %}">See source and all changes</a>
    {{source.details.count}} changes<br />
    last checked: {{source.last_checked}}<br />
    last changed:
    <a href="{%url 'sources:diff' source_pk=source.pk pk=source.last_changed.pk %}">
      {{source.last_changed.date_pulled}}
    </a><br />
    <a href="#" class="js-subscribe" data-action="subscribe" data-pk="{{ source.pk }}">Subscribe</a>
    <a href="#" class="js-subscribe" data-action="unsubscribe" data-pk="{{ source.pk }}">Unsubscribe</a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
